*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#downabout {
  margin-top: 0%;
  padding-top: 13%;
}

#downtimeline {
  margin-top: 0%;
  padding-top: 13%;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

#navlist {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  border-bottom: solid 2px black;
  background-color: #f8edeb;
}

.header {
  width: 170px;
  padding: 0.5em;
  font-size: 1.5em;
  list-style: none;
}

#body {
  width: 40%;
  margin-left: 250px;
  margin-top: 60px;
}
