@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: no-wrap;
  padding: 0.5em;
  font-size: 1em;
  position: fixed;
  top: 0;
  z-index: 3;
  background: linear-gradient(
    135deg,
    rgba(176, 171, 255, 1) 0%,
    rgba(81, 81, 181, 1) 61%,
    rgba(42, 42, 147, 1) 99%,
    rgba(9, 9, 96, 1) 105%
  );
}

li {
  margin: 0.8em;
}

body {
  font-family: "Roboto Slab", serif;
  color: white;
  background: linear-gradient(
    135deg,
    rgba(176, 171, 255, 1) 0%,
    rgba(81, 81, 181, 1) 29%,
    rgba(42, 42, 147, 1) 63%,
    rgba(9, 9, 96, 1) 78%
  );
  /* background-image: linear-gradient(
    to bottom right,
    #656ac7,
    #4e54c8,
    #656ac7,
    #4e54c8  );
    */

  height: 100%;
  background-size: cover;
}

#home {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 150px;
  align-items: center;
  z-index: -1;
}

h1 {
  font-size: 4em;
  margin-top: 20px;
}

h2 {
  font-size: 1.8em;
}

h2::before {
  content: "--";
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  line-height: 2;
}

#resumebtn {
  background: linear-gradient(
    135deg,
    rgba(9, 9, 96, 1) 0%,
    rgba(42, 42, 147, 1) 10%,
    rgba(81, 81, 181, 1) 88%,
    rgba(176, 171, 255, 1) 110%
  );
  color: white;
  border: none;
  border-radius: 6px;
  width: 15em;
  height: 4em;
  font-size: 1em;
  transition: all 0.3s;
}

#resumebtn:hover {
  background: linear-gradient(
    135deg,
    rgba(9, 9, 96, 0.5) 0%,
    rgba(42, 42, 147, 0.5) 10%,
    rgba(81, 81, 181, 0.5) 88%,
    rgba(176, 171, 255, 0.5) 110%
  );
  box-shadow: 0 0 8px #9ecaed;
  cursor: pointer;
}

.homepic {
  width: 638px;
  height: 750px;
  border-radius: 80px;
  transform: rotate3d(0, 1, -0.05, -25deg);
}

div {
  color: white;
  margin: 0 auto;
  display: inline;
}

#aboutheader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  z-index: -1;
}

#aboutme {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  padding-top: 70px;
  padding-bottom: 150px;
  z-index: -1;
  margin: 0 auto;
}

#aboutpic {
  display: inline-block;
  width: 594px;
  height: 763px;
  border-radius: 40px;
  transform: rotate3d(0, 1, -0.05, 0deg);
  margin-left: 18%;
  margin-right: 20px;
}

.aboutflex {
  position: absolute;
  display: inline-block;
  margin-top: 100px;
}

.hobbyicons {
  display: inline-block;
  margin-bottom: 0px;
  position: absolute;
  margin-top: 500px;
  margin-left: 95px;
}

.icons {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  border: solid white 2px;
  box-shadow: 5px 10px black;
  transition: all 0.15s ease-in-out;
  color: transparent;
}

.icons:hover {
  content: "Test";
  cursor: pointer;
  color: white;
}

.WOdesc {
  margin-left: -8px;
}
.VGdesc {
  margin-left: -11px;
}
.TRdesc {
  margin-left: 1px;
}
.SKdesc {
  margin-left: 16px;
}

.icons img {
  margin-left: 5.5px;
  margin-top: 5.5px;
  width: 64px;
  height: 64px;
}

#aboutmecontent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 350px;
  /* background-color: #676de0;*/
  background: linear-gradient(
    135deg,
    rgba(42, 42, 147, 1) 54%,
    rgba(81, 81, 181, 1) 67%
  );
  padding: 50px;
  border-radius: 10px;
  line-height: 2;
  /* margin-left: -80px; */
  z-index: -1;
}

section {
  z-index: 2;
}

#scrollabout {
  padding-bottom: 30px;
}

#scrollexp {
  padding-bottom: 45px;
}

#experienceheader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  z-index: -1;
}

.my-experience {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.expintro {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 6%;
  margin-right: 8%;
}

#expheader {
  position: sticky;
  display: block;
  top: 8%;
}

.timeline {
  width: 5px;
  height: 1100px;
  margin-top: 105px;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  position: relative;
  margin-right: 40px;
}

.orb1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  margin-left: -12px;
  margin-top: 35px;
}
.orb2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  margin-left: -12px;
  margin-top: 303px;
}
.orb3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  margin-left: -12px;
  margin-top: 303px;
}
.orb4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  margin-left: -12px;
  margin-top: 300px;
}

.expcontent {
  width: 800px;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  flex-wrap: nowrap;
}

/*.pastexp::before {
  content: "";
  width: 25px;
  height: 25px;
  background: white;
  border: 1px solid #fdfdfd;
  box-shadow: 2px 1.5px 0px #bab5f8;
  box-shadow: 2px 1.5px 0px #bab5f8;
  border-radius: 50%;
  position: absolute;
  left: 80px;
  top: 30px;
}
*/
.pastexp {
  width: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.textbox {
  position: relative;
  width: 600px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: linear-gradient(
    135deg,
    rgba(42, 42, 147, 1) 54%,
    rgba(81, 81, 181, 1) 67%
  );
  border-left: solid black 5px;
}

.textbox::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  background: rgba(42, 42, 147, 1);
  border-top: solid 4.5px black;
  border-left: solid 4.5px black;
  top: 43%;
  left: -23.1px;
  transform: rotate(-45deg);
  border-radius: 5px 0px;
}

.year {
  margin: 0;
  margin-left: 20px;
  font-size: 1.5em;
}

#pastexpcon {
  width: 500px;
  padding-left: 20px;
}

/*





























*/
.sqaure {
  overflow: hidden;
}

div:nth-of-type(1) {
  width: 100px;
  height: 100px;
  top: 90%;
  left: 30%;
  position: absolute;
  background-color: white;
  border-radius: 25%;
  animation-name: example;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  z-index: -1;
}

div:nth-of-type(2) {
  width: 50px;
  height: 50px;
  top: 90%;
  left: 20%;
  position: absolute;
  background-color: white;
  border-radius: 20%;
  animation-name: example;
  animation-duration: 22s;
  animation-iteration-count: infinite;
  z-index: -1;
}
div:nth-of-type(3) {
  width: 75px;
  height: 75px;
  top: 90%;
  left: 75%;
  position: absolute;
  background-color: white;
  border-radius: 40%;
  animation-name: example;
  animation-duration: 29s;
  animation-iteration-count: infinite;
  z-index: -1;
  animation-delay: 4s;
}
div:nth-of-type(4) {
  width: 90px;
  height: 90px;
  top: 90%;
  left: 70%;
  position: absolute;
  background-color: white;
  border-radius: 10%;
  animation-name: example;
  animation-duration: 33s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  z-index: -1;
}
div:nth-of-type(5) {
  width: 20px;
  height: 20px;
  top: 90%;
  left: 60%;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation-name: example;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  z-index: -1;
}
div:nth-of-type(6) {
  width: 100px;
  height: 100px;
  top: 90%;
  left: 10%;
  position: absolute;
  background-color: white;
  border-radius: 25%;
  animation-name: example;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  z-index: -1;
}

div:nth-of-type(7) {
  width: 50px;
  height: 50px;
  top: 90%;
  left: 20%;
  position: absolute;
  background-color: white;
  border-radius: 20%;
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  z-index: -1;
}
div:nth-of-type(8) {
  width: 75px;
  height: 75px;
  top: 90%;
  left: 25%;
  position: absolute;
  background-color: white;
  border-radius: 40%;
  animation-name: example;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  z-index: -1;
  animation-delay: 1s;
}
div:nth-of-type(9) {
  width: 90px;
  height: 90px;
  top: 90%;
  left: 45%;
  position: absolute;
  background-color: white;
  border-radius: 10%;
  animation-name: example;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
  z-index: -1;
}
div:nth-of-type(10) {
  width: 20px;
  height: 20px;
  top: 90%;
  left: 33%;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation-name: example;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  z-index: -1;
}

@keyframes example {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
    border-radius: 0;
  }

  100% {
    transform: translateY(-7000px) rotate(720deg);
    opacity: 0.9;
    border-radius: 50%;
  }
}
